<div class="mx-auto text-center text-ceCloud md:max-w-4xl p-5 bg-ceNight rounded-md shadow-md">
  <div class="flex">
    <img
      src="https://avatars.githubusercontent.com/u/162860562"
      class="flex-initial self-center bg-ceCloud shadow-md rounded-md max-w-32 md:max-w-60" />
    <div class="flex-auto self-center">
      <h1 class="font-lilitaOne text-2xl md:text-4xl">Catboy Engineering</h1>
      <h2 class="my-2 text-ceSeaFoam text-sm">Gamer | Coder | Degenerate</h2>
      <div>
        <a href="https://github.com/CatboyEngineering" target="_blank" class="m-2 text-ceSeaFoam hover:text-ceCloud active:text-ceDusk">
          <i class="fa-brands fa-github text-2xl"></i>
        </a>
        <a href="mailto:catboy.engineering@pm.me" target="_blank" class="m-2 text-ceSeaFoam hover:text-ceCloud active:text-ceDusk">
          <i class="fa-solid fa-envelope text-2xl"></i>
        </a>
        <a href="https://bsky.app/profile/catboy.engineering" target="_blank" class="m-2 text-ceSeaFoam hover:text-ceCloud active:text-ceDusk">
          <i class="fa-brands fa-bluesky text-2xl"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="mt-10 md:mt-12 mx-auto text-ceCloud md:max-w-4xl p-5 bg-ceNight rounded-md shadow-md">
  <h1 class="mb-2 font-lilitaOne text-2xl md:text-3xl">Hi there!</h1>
  <p class="text-sm">
    I'm a professional software developer creating tools, mods, and applications for some of my favorite video games. I enjoy working across the
    entire software stack, and I'm always eager to learn new technologies. You can find some of my projects on my GitHub account by clicking on the
    icon at the top of the page.
  </p>

  <h1 class="mb-2 mt-6 font-lilitaOne text-xl md:text-2xl">Get In Touch</h1>
  <p class="text-sm">
    For business inquiries, please reach out via the email icon at the top of the page. Because I am balancing my work here alongside a full-time job,
    please allow at least 24 hours for a response.
  </p>
  <p class="text-sm mt-2">
    <strong>For troubleshooting and technical support:</strong>
    please reach out via GitHub Issues instead, as I do not offer technical support via email. GitHub Issues helps organize your question and makes it
    visible to other users who may have the same problem.
  </p>

  <h1 class="mb-2 mt-6 font-lilitaOne text-xl md:text-2xl">Contracting</h1>
  <p class="text-sm">
    I very rarely take on contracting or commission work. If you want to hire me for your project, please send me an email with a thorough description
    of what you are looking to build, and what your project budget is. I am willing to work with you on price and scale, but I reserve the right to
    decline the offer for any reason.
  </p>
</div>

<div class="mt-10 md:mt-12 mx-auto text-center text-ceCloud md:max-w-4xl p-5 bg-ceNight rounded-md shadow-md">
  <p class="text-xs">Copyright &copy; CatboyEngineering, 2024. All rights reserved.</p>
  <p class="text-xs">
    <strong>BTC:</strong>
    1CaToJQBgzY7MEAAVLejrCRif4LCcEoYPN
  </p>
</div>
